apiVersion: v1
kind: Service
metadata:
  labels:
    app: php-example-app
  name: php-example-app
spec:
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    app: php-example-app
  type: NodePort
